@font-face {
    font-family: 'Monlam TBslim';
    src: url('MonlamTBslim.woff2') format('woff2'),
        url('MonlamTBslim.woff') format('woff'),
        url('MonlamTBslim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

